*,
*::before,
*::after { margin: border-box; }

:root {
--pink: hsl(322, 100%, 66%);
--very-pale-cyan: hsl(193, 100%, 96%);
--very-dark-cyan: hsl(192, 100%, 9%);
--grayish-blue: hsl(208, 11%, 55%);
}



.main-container {
    width: 60vw;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
}

/* Header part */
header {
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/bg-hero-mobile.svg);
    background-color: var(--very-pale-cyan);
    width: 60vw;
    text-align: center;
}

.huddle-logo  {
    display: flex;
}
.logo {
    width: 90px;
    margin: 15px 100px 70px 10px;
}
.tryit {
    width: 80px;
    height: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px hsla(209, 11%, 55%, 0.404);
    font-size: 10px;
    margin: 12px 0 0 0;
    border: none;
    outline: none;
}
.tryit:hover {
    cursor: pointer;
    background-color: var(--pink);
    color: white;
    transform:scale(1.2);
    transition: all 1s;
}

/* Title & text part */
.bg-container {
    margin: 0 18px;
}
.title {
    font-size: 20px;
    margin-bottom: 20px;
}
.about {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* button */
.btn {
    width: 210px;
    height: 35px;
    border-radius: 25px;
    background-color: var(--pink);
    border: none;
    outline: none;
/* font style */
    color: white;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.05rem;
/* position */
    margin: 30px 0 50px 0;
}
.btn:hover {
    cursor: pointer;
    background-color: hsl(322, 72%, 52%);
    transform:scale(1.1);
    transition: all 1s;
}

/* Header image */
#mockup {
    width: 255px;
    margin: 0 0 25px 0;
}


/* Containers part */
.container1, .container2, .container3 {
    width: 56vw;
    border-radius: 25px;
    margin: 30px auto;
    box-shadow: 1px 1px 1px 1px hsla(209, 11%, 55%, 0.404);
    text-align: center;
}

#illustration {
    width: 210px;
    margin: 50px 0 40px 0;
}

.subtitle {
    font-family: 'Poppins';
    font-size: 17px;
}
.subtext {
    font-size: 12px;
    color: var(--grayish-blue);
    line-height: 1.2rem;
    width: 220px;
    padding: 10px 0 25px 0;
    margin: 0 auto;
}

/* Part between description & footer */
.transition {
    position: relative;
    bottom: -65px;
    width: 280px;
    padding-top: 40px;
    margin: 100px auto 0 auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px hsla(209, 11%, 55%, 0.404);
    /* Font style */
    text-align: center;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    z-index: 2;
}
.btn-transition {
    margin: 25px 0 35px 0;
    font-size: 8px;
}


/* Footer with black background-color */
.black-container {
    position: relative;
    z-index: 0;
    background-color: var(--very-dark-cyan);
    color: white;
}
.huddle-bottom {
    padding-top: 125px;
    padding-left: 20px;
}
.logo-bottom {
    width: 130px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.lorem, .phone, .email {
    display: flex;
    font-size: 13px;
    margin: 20px 20px;
}
.icon {
    width: 14px;
    margin: auto 20px auto 0px;
}

.list {
    padding-left: 20px;
    font-size: 15px;
    line-height: 2.25rem;
}

.social-logo {
    text-align: center;
    margin: 40px 0 0 0;
}
.social {
    width: 20px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    margin: 0 5px;
}

.copyright {
    padding-bottom: 35px;
    margin: 15px auto 0 auto;
    text-align: center;
    font-size: 10px;
}

/* Footer part already coded by Frontend Mentor */
.attribution { 
    width: 60vw;
    margin: 0 auto;
    font-size: 11px; 
    text-align: center;
    color: white;
    background-color: var(--very-dark-cyan);
    padding: 15px auto;
}
.attribution a { 
    color: white;
    text-decoration: none;
}
.attribution a:hover {
    cursor: pointer;
}


    @media (min-width: 800px) {
        .main-container, header {
            width: 100vw;
            overflow-x: hidden;
            text-align: left;
        }

        header { margin-bottom: 160px;}

        /* Blue Container */
        .huddle-logo {
            display: grid;
            grid-template-columns: 60vw 40vw;
            margin: 40px 100px 112px 60px;
        }
        .logo {
            width: 190px;
            grid-column: 1;
        }
        .tryit {
            grid-column: 2;
            top: 0px;
            width: 200px;
            height: 48px;
            font-size: 14px;
            font-weight: 600;
        }


        .wrapper-grid {
            display: grid;
            grid-template-columns: 46vw 1fr;
        }

        .bg-container {
            margin: 0 0 0 70px;
            width: 35.54vw;
        }
        .title {
            font-size: 2.64vw;
        }
        .about {
            font-size: 1.25vw;
        }
        .btn {
            width: 280px;
            height: 55px;
            border-radius: 30px;
            font-size: 14px;
        }

        #mockup {
            width: 47.60vw;
            margin-top: -85px;
        }


        /* QUOTES & images containers */
        .container1, .container2, .container3 {
            width: 85.52vw;
            display: flex;
        }

        .container2 {
            flex-direction: row;
        }
        .quote {
            width: 34.72vw;
            text-align: left;
            margin: auto 0;
        }


        .container3, .container1 {
            flex-direction: row-reverse;
        }
        .grow, .users {
            margin: auto 2.5vw auto 11.11vw;
        }

        .subtitle {
            font-size: 1.90vw;
        }
        .subtext {
            width: auto;
            font-size: 1.25vw;
            line-height: 1.8rem;
        }

        #illustration {
            width: 28.59vw;            
        }
        .flowing {
            margin: auto 11.45vw  auto 9.02vw;
        }


        /* Transition between quote & footer */
        .transition {
            width: 55.59vw;
            font-size: 2.22vw;
        }
        .btn-transition {
            width: 27.1vw;
            height: 75px;
            border-radius: 50px;
            font-size: 1.32vw;
        }


        /* FOOTER with contact and social media */
        .black-container {
            display: grid;
            grid-template-columns: 35.44vw 30.5vw 10.02vw 25.71vw;
            padding: 0 6.95vw;
        }
        .logo-bottom {
            width: 15.98vw;
            grid-column: 1;
        }
        .lorem, .phone, .email {
            width: 27.79vw;
            font-size: 1.11vw;
            grid-column: 1;
        }

        .list {
            font-size: 1.25vw;
            line-height: 1.8rem;
        }
        .column2 {
            grid-column: 2;
            margin: -130px 0 0 0;
        }
        .column3 {
            grid-column: 2;
        }

        .social-logo {
            text-align: left;
            grid-column: 4;
            margin: -125px 0 0 -10.95vw;
        }
        .copyright {
            grid-column: 4;
            text-align: left;
            font-size: 0.86vw;
            position: relative;
            right: 55%;
        }

        .attribution {
            width: 100vw;
        }
    }


@media (min-width: 1000px) {
    .tryit {
        margin-left: 13.88vw;
        width: 13.88vw;
    }
    
    .list {
        font-size: 1.25vw;
        display: flex;
        line-height: 3rem;
    }
    .column2 {
        flex-direction: column;
        grid-column: 2;
        width: 15vw;
        margin: -150px 0 0 0;
    }
    .column3 {
        flex-direction: column;
        grid-column: 3;
        width: 10vw;
        margin: -150px 0 0 0;
    }

    .social-logo {
        margin: -145px 0 0 -6.95vw;
    }
    .copyright {
        right: 45%;
    }
}